nlplot==1.4.0
pyLDAvis==3.3.1
nltk==3.7
spacy==3.3.1
huggingface==0.0.1
transformers==4.20.1
allennlp==2.9.3
fairseq==0.12.1
ginza==5.1.1
ja_ginza_electra
ja_ginza
mecab==0.996.3
Janome==0.4.2
SudachiPy==0.6.5
nagisa==0.2.7
OpenNMT-py==2.2.0
parlai==1.6.0
sentencepiece==0.1.96
gensim==4.2.0
deeppavlov==0.17.4
clean-text==0.6.0
pysummarization==1.1.9
sumy==0.10.0

