mecab==0.996.3
Janome==0.4.2
SudachiPy==0.5.4
nagisa==0.2.7
OpenNMT-py==2.2.0
parlai==1.6.0
sentencepiece==0.1.96
gensim==4.2.0
clean-text==0.6.0
pysummarization==1.1.9
sumy==0.10.0
requests
fugashi==1.1.2
pymatgen==2022.5.26
pyrouge==0.1.3
pytorch-transformers==1.2.0
multiprocess==0.70.13
torch-geometric==2.0.4
