torchtext==0.11.0
tensorflow==2.9.1
neural_structured_learning
tensorflow_decision_forests
xgboost==1.6.1
LightGBM==3.3.2
keras==2.9.0
drawdata==0.2.0
sql==2022.4.0
pymssql==2.2.5
onnx==1.12.0
autoviz==0.1.41
monorepo==0.1.0
networkx==2.8.4
elasticsearch
dgl
pdfminer.six==20211012
python-pptx==0.6.21
python-docx==0.8.11
openpyxl==3.0.9
xlrd==2.0.1
beautifulsoup4==4.11.1
selenium==4.3.0
tqdm==4.64.0
tensorboardX==2.5.1
Flask==2.1.2
jax==0.3.13
optax==0.1.2
